@import "@/assets/styles/general.scss";

.main-data {
    padding-top: 30px;
    margin-bottom: 30px;
}

.main {
    &__title {
        font-size: 18px;
        padding: 5px 15px;
        margin: 30px;
        width: 100%;
        font-weight: 600;
    }
}

.text-block {
    padding: 0 35px;
    margin: 0;
    &__radios {
        justify-content: space-around;
    }
    &_bottom-margined {
        margin-bottom: 20px;
    }
    &__col {
        padding-left: 0;
    }
}

.review-header {
    margin-bottom: 30px;
    &__title {
        font-size: 30px;
        margin-left: 15px;
    }
}

.review-button {
    display: none;
    margin-bottom: 15px;
    &__title {
        font-size: 14px;
        font-weight: bold;
        margin-right: 15px;
    }
}

.check {
    margin-right: 5px;
}

.label {
    font-size: 16px;
    max-width: 90%;
}

.label-12 {
    font-size: 12px;
}

.text-16 {
    font-size: 16px;
}

.calendar {
    margin-left: 20px;
}

.picker-menu {
    min-width: 270px !important;
}

.radio-block {
    text-align: center;
    &__label {
        font-size: 12px;
        margin-bottom: 10px;
    }
}

@media (max-width: 1024px) {
    .review-header {
        display: none;
    }
    .review-button {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .main-data {
        padding-top: 80px;
    }
    .main {
        &__title {
            max-width: 100%;
            margin: 30px 25px;
        }
    }
}

@media (max-width: 768px) {
    .text-block {
        padding: 0 25px;
    }
    .calendar {
        margin-left: 0;
    }
    .label {
        max-width: 90%;
    }
    .main {
        &__button {
            margin: 0 auto;
        }
    }
}

@media (max-width: 760px) {
    .main {
        &__title {
            display: inline-block;
            margin: 30px 0 20px;
            padding: 10px 0 10px 15px;
        }
        &_desktop-button {
            display: none;
        }
        &_mobile-button {
            display: block;
        }
    }
    .left-padding-sm-10 {
        padding-left: 10px;
    }
    .text-block {
        padding: 0 15px;
        &__radios {
            justify-content: flex-start;
        }
        &__radio {
            margin-right: 20px;
        }
    }
    .sm-margined {
        margin: 15px 0;
        .text-block__row {
            margin-bottom: 5px;
        }
    }
    .radio-block {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        align-items: flex-start;
        padding-left: 20px;
        &__label {
            font-size: 12px;
            margin-bottom: 10px;
        }
        .sm-no-margin {
            margin-top: 0;
        }
    }
}

@media (max-width: 350px) {
    .radio-block {
        padding-left: 0;
    }
}
